@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nunito:wght@400;500;700;800&display=swap");

/* main page */
.mainPage__container {
  display: flex;
  gap: 58px;

  padding: 39px 258px 0 258px
}

.mainPage__box{
  display: flex;
  flex-direction: column;
  gap: 16px;
}