@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nunito:wght@400;500;700;800&display=swap");

/* front page */
.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;

  width: 100vw;
  height: 100vh;

  background: #212529;
}

.section__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30.47px;
}

.section__box {
  display: flex;
  flex-direction: column;
  gap: 28px;

  width: 347px;
  height: 274px;
}

.section__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 48px;

  color: #ffffff;
}

.section__paragraph {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #ffffff;
}

.section__button {
  padding: 13px 20px;

  width: 241px;
  height: 48px;

  background: #fd377e;

  border: 2px solid #fd377e;
  border-radius: 8px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}

/* main page */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 88px;

  padding: 0 261px;

  background: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}

.header__button {
  width: 64px;
  height: 40px;

  background: #e9ecef;

  border: 1.4px solid #e9ecef;
  border-radius: 8px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  text-align: center;

  color: #343a40;
}

.mainPage__container {
  display: flex;
  justify-content: center;
  gap: 58px;

  padding-top: 39px;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 19px;

  width: 363px;
  height: 351px;

  padding: 38px 24.5px;

  background: #ffffff;

  border: 1px solid #e9ecef;
  border-radius: 4px;
}

.form__box {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;

  color: #212529;

  padding-bottom: 12.1px;
}

.form__input {
  padding: 0px 16px;

  height: 52px;

  background: #f8f9fa;

  border: 2px solid #f8f9fa;
  border-radius: 8px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #868e96;
}

.form__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  color: #868e96;

  padding-top: 4.4px;
}

.form__button {
  padding: 13px 20px;

  width: 314px;
  height: 48px;

  background: #fd377e;

  border: 2px solid #fd377e;
  border-radius: 8px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}

.form__valueBox {
  display: flex;
  justify-content: space-between;
}

.inputValueNumber__container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 11px;

  width: 128px;
  height: 48px;

  background: #f8f9fa;

  border: 2px solid #f8f9fa;
  border-radius: 8px;
}

.inputValueNumber__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;

  color: #212529;
}

.inputValueNumber__input {
  background: #f8f9fa;
  border: 0;
  width: 64px;
}

.inputValueNumber__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #343a40;
}

.inputSelect__container {
  width: 150px;
  height: 79px;
}

.inputSelect__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;

  color: #212529;
}

.inputSelect__select {
  width: 150px;
  height: 48px;

  background: #f8f9fa;

  border: 2px solid #f8f9fa;
  border-radius: 8px;
}

.sectionPage__container {
  display: flex;
  flex-direction: column;
}

.sectionPage__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  color: #212529;

  padding-bottom: 32px;
}

.sectionPage__paragraph {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;

  color: #343a40;

  padding-bottom: 27px;
}
